*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


header{
    background-color: #0c041c;
    height: 100vh;
    border-radius: 0px 0px 000px 10px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;

}
.circlewhite{
    position: absolute;
    background-color: #fff;
    height: 50%;
    width: 150%;
    margin-top: 90vh;
    border-radius: 60%;
    overflow-x: hidden;
}
.notebook{
    height: 50vh;

}
.img_notebook{
    margin-left: 100px;
}
main{
    margin-top: 2000px;
}