@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


header{
    background-color: #0a021a;
    height: 100vh;
    border-radius: 0px 0px 000px 10px;
    display: flex;
    justify-content: center;
    overflow-x: hidden;

}

.conteiner_text_plus_img{
    display: flex;
}

.Bem_vindo {
    color: antiquewhite;
    margin-top: 250px;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 80px;

}

.circlewhite{
    position: absolute;
    background-color: #fff;
    height: 50%;
    width: 150%;
    margin-top: 90vh;
    border-radius: 60%;
    overflow-x: hidden;
}
.notebook{
    height: 50vh;

}
.img_notebook{
    margin-left: 350px;
    margin-top: 150px;
}
.apresentation{
    color: #fff;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
main{
}