.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: black;
}
h2{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}